{# templates/habitat/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier l'habitat{% endblock %}

{% block body %}
    <h1>Modifier l'habitat</h1>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_widget(form) }}

        {# Champ pour télécharger une nouvelle image #}
        <div>
            <label for="image_field_name">Télécharger une nouvelle image</label>
            <input type="file" name="image_field_name" id="image_field_name" />
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('habitat_index') }}">Retour à la liste des habitats</a>
{% endblock %}
