{# templates/habitat/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel habitat{% endblock %}

{% block body %}
    <h1>Créer un nouvel habitat</h1>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_widget(form) }}

        {# Champ pour télécharger une image #}
        {# <div>
            <label for="image_field_name">Télécharger une image</label>
            <input type="file" name="image_field_name" id="image_field_name" />
        </div> #}

        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('habitat_index') }}">Retour à la liste des habitats</a>
{% endblock %}
